<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Try to get TrueVFS to shut up - it's annoyingly noisy by default -->
  <logger name="net.java" level="warn"/>

  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
